<div class="contents row">
  <% @fats.each do |f| %>
    <div class="content_post">
      <p><%= f.weight %></p>
      <span class="name">
        <%= f.body_fat %>
      </span>
    </div>
  <% end %>
</div>