<div class="contents row">
  <div class="container"> 
    <div class="more">
      <div>性別<br>
        <input id="radio_id1" type="radio" name="gender" value="male" checked>男性<br>
        <input id="radio_id2" type="radio" name="gender" value="female">女性
      </div>
      <div>年齢<br>
        <input type="number" name="age" value="20" min="0" step="1">歳
      </div>
      <div>身長<br>
        <input type="number" name="height" value="162" min="0" step="1">cm
      </div>
      <div>体重<br>
        <input type="number" name="weight" value="61.8" min="0" step="0.1">kg
      </div>
      <div>体脂肪率<br>
        <input type="number" name="body_fat" value="18" min="0" step="0.1">%
      </div>
      <div>タンパク質<br>
        <input type="number" name="nutrients_p" value="20" min="0" step="1">%
      </div>
      <div>脂質<br>
        <input type="number" name="nutrients_f" value="20" min="0" step="1">%
      </div>
      <div>炭水化物<br>
        <input type="number" name="nutrients_c" value="60" min="0" step="1">%
      </div>
      <div>
        <input id="calculation" type="submit" value="計算する">
      </div>
      <p>BMI：</p>
      <p>基礎代謝量kcal(たんぱく質:g 脂質:g 炭水化物:g)</p>
      <p>身体活動レベル 低い：kcal　普通：kcal　高い：kcal</p>
    </div>
  </div>
</div>